/*
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/

html {
    position: relative;
    min-height: 100%;
}
  
body{
    font-family: 'Montserrat', sans-serif;
    background-image: url("../img/background.jpg");
    margin-bottom: 44px;
}

h1,
h2,
h3,
h4,
h5{
    font-family: 'Raleway', sans-serif !important;
}

hr{
    border-top: 1px solid rgba(255,255,255,0.1);
}

.udSectionHeader{
    background-color:black;
    padding: 0px;
}

.udClickable{
    cursor: pointer;
}

.udMainHeader{
    color: rgb(255, 255, 98);
}

.bg-black{
    background-color: black;
}

.udBtnPlay{
    color: black;
    background-color: rgb(223, 171, 0);
    border: 1px solid lightgrey;
}

.udBtnPlay:hover{
    background-color: rgb(255, 231, 123);
    color: rgb(68, 68, 68);
}

.bg-darker{
    background-color: rgb(15, 15, 15);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 44px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(223, 171, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
} 
.navbar-toggler {
    border-style:none !important;
}
.nav-item{
    font-size: 16px;
    color: #777777;
}
.nav-item:hover{
    font-size: 16px;
    color: white;
    background-color:rgb(223, 171, 0);
}
.nav-link{
    padding: 0px 14px !important;
    margin: auto;
    font-size: 16px;
}
.udDropDown{
    border: none;
    color: #777777;
    background: none;
    cursor: pointer;
}
.udDropLink:hover{
    color:rgb(223, 171, 0) !important;
}

#GamingArea{
    background-image: url("../img/background_rebels.jpg");
}

#infoMessage,
#guessWord,
#infoRemainingGuesses,
#infoWrongGuesses{
    color: rgb(204, 109, 65) !important;
}

#guessWord{
    font-weight: bold;
}

#FooterThinLine{
    background-color: rgb(223, 171, 0);
    padding: 7px;
}

#FooterThickLine{
    padding: 15px;
}